{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url}}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-update' post.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-delete' post.id %}">Delete</a>
          </div>  
          
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  
  <h2>{{ comments.count }} comments</h2>
  {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% if comment.name == User %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-edit' pk=comment.pk %}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' pk=comment.pk %}">Delete</a>
          </div>  
        {% endif %}
  {% endfor %}

  <div class="card-body">
    {% if new_comment %}
    <div class="alert alert-success" role="alert">
      Your comment is awaiting moderation
    </div>
    {% else %}
      {% if user.is_authenticated %}
      <h3>Leave a comment</h3>
      <form method="post" style="margin-top: 1.3em;">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
      </form>
      {% else %}
       <h4 class="text-info">To comment, Please login first</h4>
      {% endif %}
    {% endif %}
  </div>
  
  
{% endblock content %}